body {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ea906c;
}

h1 {
}

#text {
  font-size: 3rem; /* Adjust the initial font size as desired */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  word-break: break-word;
  line-height: 1.2;
  -webkit-transition: font-size 0.2s ease; /* Add a transition effect for font size change */
  line-clamp: 2; /* Corrected property name */
}

.container {
  background-color: #2b2a4c;
  color: #eee2de;
  font-family: 'Pangolin', cursive;
  width: 800px;
  max-width: 80%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: #F77293 0px 0px 0px 4px, #0EB05C 0px 0px 0px 8px, #7F77EA 0px 0px 0px 12px, #05AEBD 0px 0px 0px 16px, #F7F172 0px 0px 0px 20px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.btn-grid::before,
.btn-grid::after {
  content: "";
  pointer-events: none;
  grid-row: 1;
  display: none;
}
.btn-grid::before {
  visibility: hidden;
}

.btn-grid::after {
  visibility: hidden;
  grid-column: 2;
}

.btn-grid .btn:nth-child(2n+1):last-child {
  grid-column-start: 1;
  grid-column-end: -1;
}
.btn:last-child {
  grid-column: auto; 
  justify-self: center; 
  align-self: center; 
}

.btn {
  background-color: #05AEBD;
  color: #eee2de;
  font-family: 'Pangolin', cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
  box-shadow: #F77293 0px 0px 0px 4px, #0EB05C 0px 0px 0px 8px, #F7F172 0px 0px 0px 12px;
  flex: 1 0 auto;
  width: 100%;
  white-space: normal;
  display: grid;
  place-items: center;
  height: 6rem;
  font-size: 1.5rem;
  line-height: 1.2;
  
}

.btn.small-text {
  font-size: 20px;
}

.btn.smaller-text {
  font-size: 16px;
}

.btn-center {
  grid-column-start: 1;
  grid-column-end: -1;
}

/* Add the following media query to adjust font size when needed */
@media (max-height: 500px) {
  #text {
    font-size: 2.5rem; /* Adjust the font size for smaller screens */
  }
}
