body {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ea906c;
}

h1 {
}

#text {
  font-size: 4rem;
}
/* colors: #eee2de #ea906c #b31312 #2b2a4c*/
/* fonts: 
    font-family: 'Pangolin', cursive; */

.container {
  background-color: #2b2a4c;
  color: #eee2de;
  font-family: 'Pangolin', cursive;
  width: 800px;
  max-width: 80%;
  padding: 20px; 
  border-radius: 5px;
  box-shadow: #F77293 0px 0px 0px 4px, #0EB05C 0px 0px 0px 8px, #7F77EA 0px 0px 0px 12px, #05AEBD 0px 0px 0px 16px, #F7F172 0px 0px 0px 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
}

.btn {
  background-color: #05AEBD;
  color: #eee2de;
  font-family: 'Pangolin', cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  margin: 1rem;
  padding: 5px 10px;
  box-shadow: #F77293 0px 0px 0px 4px, #0EB05C 0px 0px 0px 8px, #F7F172 0px 0px 0px 12px;
}