body {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F8CB2E;
}

h1 {
}

#text {
  font-size: 4rem;
}
/* colors: #006E7F #F8CB2E #EE5007 #B22727*/
/* fonts: 
    font-family: 'Delius', cursive; */

.container {
  background-color: #006e7f;
  font-family: "Delius", cursive;
  width: 800px;
  max-width: 80%;
  padding: 20px; 
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px; 
    margin-top: 20px;
}

.btn {
  background-color: #ee5007;
  border: 4px solid #B22727;
  font-family: "Delius", cursive;
  font-size: 2.5rem;
  border-radius: 5px;
  padding: 5px 10px;
}
